#download-menu-container {
	width: 250px;
	height: 120px;

	background-color: darkgray;

	position: absolute;
	left: 10%;
	top: 40%;

	border-radius: 5px;
	border: solid black 3px;
}

.download-menu #download-menu-button {
	position: center;
}

